extends layout
block head
  title Welcome to the #{network} Web Store
  script
    $(document).ready(function() {
      var sockjs_url = '/indexTakeAssets';
      var sockjs = new SockJS(sockjs_url);
      sockjs.onopen = function() {
        console.log('[*] open', sockjs.protocol);
      }

      sockjs.onmessage = function(e) {
        console.log('[.] message', e.data);
      }

      sockjs.onclose = function() {
        console.log('[*] close');
      }

      $('.dropdown-toggle').click(function(event) {
        var categoryId = $(this).attr('id');
        var categoryPage = 1;
        sockjs.send(categoryId, categoryPage);
      });

      $('.dropdown-menu > li a').click(function(event) {
        var subCategoryId = $(this).attr('id');
        var subCategoryPage = 1;
        sockjs.send(subCategoryId, subCategoryPage);
      });

    });
block body
  .title
    h1(align='center') Welcome to the #{network} Web Store
  .container-fluid
    .row-fluid
      .span2
        ul.nav.nav-tabs.nav-pills.nav-stacked
          for category in categories
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#', id='#{category.id}') #{category.name}
                if (category.subcategories.length > 0)
                  b.caret
                  ul.dropdown-menu
                    for subCategory in category.subcategories
                      li
                        a(href="#", id='#{subCategory.id}') #{subCategory.name}
      .span10
      -console.log(categories)
