extends layout
block head
  title Welcome to the #{network} Web Store
  script
    $(document).ready(function() {
      var sockjs_url = '/indexTakeAssets';
      var sockjs = new SockJS(sockjs_url);
      var categoryPage;
      var subCategoryId;
      sockjs.onopen = function() {
        console.log('[*] open', sockjs.protocol);
      }

      sockjs.onmessage = function(e) {
        console.log('testtttttttttttttttt');
        var result = $.parseJSON(e.data);
        templateStatus(true);
        var i = 0;
        $.each(result, function(key, value) {
          populateTemplate(value.id, value.name, i%3);
          i = i + 1;
        });

        templateStatus(false);
      }

      sockjs.onclose = function() {
        console.log('[*] close');
      }

      $('.dropdown-toggle').click(function(event) {
        removeElementsFromIndex();
        var categoryId = $(this).attr('id');
        subCategoryId = categoryId;
        categoryPage = pageNumber();
        sockjs.send(categoryId, categoryPage);
      });

      $('.dropdown-menu > li a').click(function(event) {
        removeElementsFromIndex();
        subCategoryId = $(this).attr('id');
        subCategoryPage = pageNumber();
        sockjs.send(subCategoryId, subCategoryPage);
      });

      function populateTemplate(id, name, separator) {
        if (separator === 0) {
          var separatorContent = $('.row-fluid.show-grid#separator-thumbnail').clone().insertBefore($('.pagination')).end();
          //in order to clone our template we need to remove its id everytime
          //if we don't remove it then we are going to have multiple entries on the webpage
          separatorContent.attr('id', '');
          var thumbnailContent = $('.span4#thumbnail-template:last');
          thumbnailContent.attr('id', id);
          thumbnailContent.children().children('p').text(name);
        } else {
          var content = $('.span4#thumbnail-template:last').clone().appendTo($('.thumbnails:last')).end();
          content.children().children('p').text(name);
          content.attr('id', id);
        }
      }

      function removeElementsFromIndex() {
        //Our template has the id separator-thumbnail. So we select all
        //the thumbnails that doesn't have the id separator-thumbnail
        //We need our template for the feature assets that we are going to
        //call
        var elements = $('.row-fluid.show-grid:not(#separator-thumbnail)');
        elements.remove();
      }

      function templateStatus(setVisible) {
        var template = $('.row-fluid.show-grid#separator-thumbnail');
        //When our assets are being printed into the UI then we must hide our template.
        //But we must make it again visible for the future assets that we are going to call
        //overwise our future assets will be invisible.
        if (setVisible) {
          template.show();
        } else {
          template.hide();
        }
      }

      function pageNumber() {
        var pageId = $('.pagination li.active').attr('id');
        var id = pageId.replace('pageId_', '');
        console.log("pageId " + id);
        return parseInt(id);
      }

      $('.pagination li#Next').click(function(event) {
        var currentActivePage = $('.pagination ul li.active');
        var nextPage = currentActivePage.next();
        if (nextPage.attr('id') !== 'Next') {
          currentActivePage.removeClass('active');
          nextPage.addClass('active');
          removeElementsFromIndex();
          sockjs.send(subCategoryId, pageNumber());
        }
      });

      $('.pagination li#Prev').click(function(event) {
        var currentActivePage = $('.pagination ul li.active');
        var prevPage = currentActivePage.prev();
        if (prevPage.attr('id') !== 'Prev') {
          currentActivePage.removeClass('active');
          prevPage.addClass('active');
          removeElementsFromIndex();
          sockjs.send(subCategoryId, pageNumber());
        }
      });


      $('.pagination li').click(function(event) {
        var currentPage = $(this).attr('id');
        if (currentPage !== "Prev" && currentPage !== "Next") {
          $('.pagination li.active').removeClass('active');
          $(this).addClass('active');
          removeElementsFromIndex();
          sockjs.send(subCategoryId, pageNumber());
        }
      });


      pageNumber();

    });
block body
  .title
    h1(align='center') Welcome to the #{network} Web Store
  .container-fluid
    .row-fluid
      .span2
        ul.nav.nav-tabs.nav-pills.nav-stacked
          for category in categories
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#', id='#{category.id}') #{category.name}
                if (category.subcategories.length > 0)
                  b.caret
                  ul.dropdown-menu
                    for subCategory in category.subcategories
                      li
                        a(href="#", id='#{subCategory.id}') #{subCategory.name}
      .span10
        .row-fluid.show-grid(id='separator-thumbnail')
            ul.thumbnails
              li.span4(id='thumbnail-template')
                .thumbnail
                  p Name

        .pagination
          ul
            li(id='Prev')
              a(href='#') Prev
            li.active(id='pageId_1')
              a(href='#') 1
            li(id='pageId_2')
              a(href='#') 2
            li(id='Next')
              a(href='#' ) Next
