<script type="text/x-handlebars" data-template-name="mainPage">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
          {{channels-list list=model}}
      </div>

      <div class="span10">
        <div class="row-fluid show-grid">
          <ul class="thumbnails">
            {{#each item in model}}
              {{#each asset in item.assets}}
                <li class="span4">
                  <div class="thumbnail" align="center">
                    <a href="#modal_id{{unbound asset.id}}" data-toggle="modal">
                      <img src="{{unbound asset.image}}">{{asset.name}}</img>
                    </a>

                    <div class="modal hide fade" id="modal_id{{unbound asset.id}}" tabindex="-1" role="dialog" align="center">
                      <div class="modal-body">
                        <img src="{{unbound asset.image}}"></img>
                        <h2>{{asset.name}}</h2>
                        <p>Parter Name: {{asset.partnername}}</p>
                        <p>Version: {{asset.version}}</p>
                        <p>License: {{asset.license}}</p>
                      </div>
                    </div>
                  </div>
                </li>
              {{/each}}
            {{/each}}
          </ul>
        </div>
      </div>

    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/channels-list">
  {{parent-channels parentChannels=list}}
</script>

<script type="text/x-handlebars" data-template-name="components/parent-channels">
  {{#each channel in parentChannels}}
    {{channel-data data=channel}}
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="components/sub-channels">
  {{#each subChannel in subChannels}}
    {{channel-data data=subChannel}}
  {{/each}}
</script>


<script type="text/x-handlebars" data-template-name="components/channel-data">
    <a href="#/mainPage/{{unbound data.id}}/{{unbound data.pageId}}/{{unbound data.rootChannelId}}">
        <img src="{{unbound data.image}}">{{data.name}}</img>
    </a>

  {{#if isExpanded}}
    {{sub-channels subChannels=data.subChannels}}
  {{/if}}
</script>
