<script type="text/x-handlebars" data-template-name="mainPage">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
          {{channels-list list=model}}
      </div>

      <div class="span10">
        <div class="row-fluid show-grid">
          <ul class="thumbnails">
            {{#each item in model}}
              {{#each asset in item.assets}}
                {{asset-thumbnail data=asset}}
              {{/each}}
            {{/each}}
          </ul>
        </div>
      </div>

    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/channels-list">
  {{parent-channels parentChannels=list}}
</script>

<script type="text/x-handlebars" data-template-name="components/parent-channels">
  {{#each channel in parentChannels}}
    {{channel-data data=channel}}
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="components/sub-channels">
  {{#each subChannel in subChannels}}
    {{channel-data data=subChannel}}
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="components/channel-data">
    <a href="#/mainPage/{{unbound data.id}}/{{unbound data.pageId}}/{{unbound data.rootChannelId}}">
        <img src="{{unbound data.image}}">{{data.name}}</img>
    </a>

  {{#if isExpanded}}
    {{sub-channels subChannels=data.subChannels}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/asset-thumbnail">
  <div class="thumbnail" align="center">
    <a href="#modal_id{{unbound data.id}}" data-toggle="modal">
      <img src="{{unbound data.image}}">{{data.name}}</img>
    </a>
    {{asset-modal data=data id=modalId}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/asset-modal">
<div class="modal-body">
  <img src="{{unbound data.image}}"></img>
  <h2>{{data.name}}</h2>
  <p>Parter Name: {{data.partnername}}</p>
  <p>Version: {{data.version}}</p>
  <p>License: {{data.license}}</p>
</div>
</script>
