<script type="text/x-handlebars" data-template-name="participantInfo">
  <!-- Information form-->
  <form class="form-horizontal">
    <fieldset>

    <!-- Update information progress -->
    {{#if updateInfoRequested}}
      {{#if updateInfoError}}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3>An error has occur {{updateInfoError}}</h3>
          </div>
      {{else}}
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3>Your account information has been updated successfully</h3>
          </div>
      {{/if}}
    {{/if}}

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="firstName">Name</label>
      <div class="controls">
        {{input id="firstName" name="firstName" type="text" placeholder="" value=firstName class="input-xlarge" required=""}}
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="lastName">Last Name</label>
      <div class="controls">
        {{input id="lastName" name="lastName" type="text" placeholder="" value=lastName class="input-xlarge" required=""}}
      </div>
    </div>

    <!-- Text input-->
    {{#if middleNames}}
      <div class="control-group">
        <label class="control-label" for="middleNames">Middle Names</label>
        <div class="controls">
          {{input id="middleNames" name="middleNames" type="text" placeholder="" value=middleNames class="input-xlarge" required=""}}
        </div>
      </div>
    {{/if}}

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        {{input id="email" name="email" type="text" placeholder="" value=email class="input-xlarge" required=""}}
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="updateAccount"></label>
      <div class="controls">
        <button id="updateAccount" {{action 'updateAccountInfo' this}} name="updateAccount" class="btn btn-primary">Update Account</button>
      </div>
    </div>

    </fieldset>
  </form>

  <!-- Password form-->
  <form class="form-horizontal">
    <fieldset>

    <!-- Update password progress -->
    {{#if updatePasswordRequested}}
      {{#if updatePasswordError}}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3>An error has occur {{updatePasswordError}}</h3>
          </div>
      {{else}}
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3>Your account password has been updated successfully</h3>
          </div>
      {{/if}}
    {{/if}}

    <!-- Password input-->
    <div class="control-group">
      <label class="control-label" for="passwordInput">New Password</label>
      <div class="controls">
        {{input id="passwordInput" name="passwordInput" type="password" placeholder="Type your new password" value=accountPassword class="input-xlarge" required=""}}
        {{#if passwordsAreDifferent}}
          <p class="text-error">Your passwords doesn't match</p>
        {{/if}}
      </div>
    </div>

    <!-- Password input-->
    <div class="control-group">
      <label class="control-label" for="passwordConfirm">Confirm Password</label>
      <div class="controls">
        {{input id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Retype your password" value=confirmAccountPassword class="input-xlarge" required=""}}
        {{#if passwordsAreDifferent}}
          <p class="text-error">Your passwords doesn't match</p>
        {{/if}}
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="updatePassword"></label>
      <div class="controls">
        <button id="updatePassword" {{action 'updateAccountPassword' accountPassword confirmAccountPassword}} name="updatePassword" class="btn btn-primary">Update Password</button>
      </div>
    </div>

    </fieldset>
  </form>

</script>

